<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.wings.mywiki.dao.mybatis.mapper.AdminMapper">
	
	<resultMap id="reportResult"
		type="com.wings.mywiki.model.ReportVO">
		<result property="reportId" column="report_id" />
		<result property="reportUserEmail" column="report_user_email" />
		<result property="reportedUserEmail" column="reported_user_email" />
		<result property="reportContent" column="report_content" />
		<result property="reportedDate" column="reported_date" />
	</resultMap>
	
	<select id="getAllReports" resultMap="reportResult">
		SELECT * FROM report
	</select>
	
</mapper> 