<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wings.mywiki.dao.mybatis.mapper.BoardMapper">
  <cache />

  <resultMap id="BoardMap" type="com.wings.mywiki.model.BoardVO">
	<result property="boardId" column="BOARD_ID" />
	<result property="userId" column="USER_ID" />
	<result property="subjectId" column="SUBJECT_ID" />
	<result property="categoryId" column="CATEGORY_ID" />
	<result property="title" column="TITLE" />
	<result property="text" column="TEXT" />
	<result property="createDate" column="CREATE_DATE" />
	<result property="updateDate" column="UPDATE_DATE" />
	<result property="hitNum" column="HIT_NUM" />
</resultMap>

<!-- 페이징 처리를 위한 함수. 특정 게시판 특정 페이지 데이터만 list -->
  <select id="listAll" parameterType="com.wings.mywiki.model.Criteria" resultMap="BoardMap">
  SELECT BOARD_ID, USERS.USER_ID, USERS.STUDENT_NAME, SUBJECT_ID, CATEGORY_ID, 
  TITLE, TEXT, CREATE_DATE, HIT_NUM
  FROM BOARD JOIN USERS ON USERS.USER_ID = BOARD.USER_ID
  WHERE BOARD.CATEGORY_ID = #{categoryId} 
  <if test="subjectId > 0"> AND SUBJECT_ID = #{subjectId} </if>
  ORDER BY BOARD_ID DESC
  limit #{startIndex}, #{amount}
  </select>
  
  <!-- 게시글 생성 -->
  <insert id="createPost" parameterType="HashMap">
  	<selectKey resultType="integer" keyProperty="boardId" order="BEFORE">
        	SELECT MAX(BOARD_ID)+1 FROM BOARD      
    </selectKey>  
  	INSERT INTO BOARD VALUES (#{boardId}, #{title}, #{text}, #{createDate}, #{updateDate}, 
  	#{userId}, #{subjectId}, #{categoryId}, 0)
  </insert>
  
  <!-- 게시글 상세보기 -->
  <select id="viewPostDetail" resultMap="BoardMap">
  SELECT * FROM BOARD WHERE BOARD_ID = #{boardId}
  </select>
  
  <!-- 게시글 수정 -->
  <update id="updatePost" parameterType="HashMap">
  UPDATE BOARD 
  SET
  	<!-- null이 아니거나 공백이 아닐 때 수정완료 -->
  	<if test="title != null and title != ''">TITLE = #{title}, </if>
  	<if test="text != null and text != ''">TEXT = #{text}, </if>
  UPDATE_DATE = NOW()
  WHERE BOARD_ID = #{boardId} AND USER_ID = #{userId}
  </update>
  
  <!-- 게시판 조회수 변경 -->
  <update id="increaseViewCnt">
  UPDATE BOARD
  SET HIT_NUM = HIT_NUM + 1
  WHERE BOARD_ID = #{boardId}
  </update>
  
  <!-- 게시물 삭제 -->
  <delete id="deletePost">
  	DELETE FROM BOARD WHERE BOARD_ID = #{boardId}
  </delete>
  
  <!-- 해당 게시판 전체 게시물 갯수 계산 -->
  <select id="getTotalCount" parameterType="com.wings.mywiki.model.Criteria" resultType="int">
	select count(*) from BOARD 
    WHERE CATEGORY_ID = #{categoryId}
  <if test="subjectId > 0"> AND SUBJECT_ID = #{subjectId} </if>
  </select>
 
  <!-- 해당 Board 객체 불러오기 -->
   <select id="getBoard" parameterType="int" resultMap="BoardMap">
	SELECT * FROM BOARD
	WHERE BOARD_ID = #{boardId}
  </select>
  
</mapper>