<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wings.mywiki.dao.mybatis.mapper.SubjectMapper">
<cache />

	<resultMap id="resultMap_sub"
		type="com.wings.mywiki.model.SubjectVO">
		<result property="subjectId" column="subject_id" />
		<result property="subjectName" column="subject_name" />
		<result property="professor" column="professor" />
		<result property="year" column="subject_year" />
		<result property="semester" column="semester" />
	</resultMap>

	<resultMap id="wikiResult"
		type="com.wings.mywiki.model.WikiVO">
		<result property="wikiId" column="wiki_id" />
		<result property="updateDate" column="update_date" />
		<result property="subjectId" column="subject_id" />
	</resultMap>

	<!-- 과목 추가 -->
	<insert id="addSubject" parameterType="HashMap">
		<selectKey resultType="integer" keyProperty="subjectId" order="BEFORE">
			select MAX(subject_id)+1 from subjects
		</selectKey>
		insert into subjects values
		(#{subjectId},#{subjectName},#{professor},#{year},#{semester})
	</insert>
	
	<!-- 과목 id 가져옴 (위키 생성 위해) -->
	<select id="getSubjectId" parameterType="HashMap" resultType="int">
		select subject_id from subjects
		where subject_name=#{subjectName} and professor=#{professor} and 
		subject_year=#{year} and semester=#{semester}
	</select>

	<select id="selectOne" resultMap="resultMap_sub">
		select * from
		subjects where subject_id=#{subjectId}
	</select>
	<select id="selectAll" resultMap="resultMap_sub">
		select * from subjects
	</select>

	<update id="update">
		update subjects set subject_name=#{subjectName},
		professor=#{professor}, year=#{year}, semester=#{semester}
		where subject_id=#{subjectId}
	</update>

	<delete id="delete">
		delete from subjects where subject_id=#{subjectId}
	</delete>

	
</mapper>