<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.wings.mywiki.dao.mybatis.mapper.UsersMapper">
	<cache />

	<resultMap id="resultMap_users"
		type="com.wings.mywiki.model.UsersVO">
		<id property="userId" column="user_id" />
		<result property="email" column="email" />
		<result property="studentName" column="student_name" />
		<result property="nickName" column="nick_name" />
		<result property="studentNumber" column="student_number" />
		<result property="auth" column="auth" />
		<result property="univName" column="univ_name" />
		<result property="reportedNum" column="reported_num" />
		<result property="registerDate" column="register_date" />
	</resultMap>

	<resultMap id="reportResult"
		type="com.wings.mywiki.model.ReportVO">
		<id property="reportId" column="report_id" />
		<result property="reportUserId" column="report_user_id" />
		<result property="reportedUserId" column="reported_user_id" />
		<result property="reportContent" column="report_content" />
		<result property="reportedDate" column="reported_date" />
	</resultMap>
	

	<insert id="insert">
		INSERT INTO users values (#{userId}, #{email}, #{password}, #{studentName}, #{nickName}, #{studentNumber}, 1, #{univName}, 0, NOW())
	</insert>
	
	<select id="selectAll" resultMap="resultMap_users">
		select * from
		users
	</select>
	<select id="selectWithoutPw" resultMap="resultMap_users">
		select email, student_name, nick_name, student_number, auth, univ_name, 
		reported_num, register_date from users 
		where user_id=#{userId}
	</select>
	<select id="selectOne" resultMap="resultMap_users">
		select * from users
		where user_id=#{userId}
	</select>

	<update id="update">
		update users set email=#{email}, password=#{password},
		student_name=#{studentName}, student_number=#{studentNumber},
		univ_name=#{univName}, nick_name=#{nickName}, reported_num=#{reportedNum} 
		where user_id=#{userId}
	</update>

	<delete id="delete">
		delete from users where user_id=#{userId}
	</delete>

	<select id="checkId" resultType="int">
		SELECT COUNT(*)
		FROM users
		WHERE
		email=#{email}
	</select>
	
	<select id="checkLogin" resultMap="resultMap_users">
		SELECT *
		FROM users
		WHERE
		email=#{email}
	</select>

	<!-- 신고 -->
	<insert id="report" parameterType="HashMap">
		<selectKey resultType="integer" keyProperty="reportId" order="BEFORE">
			select MAX(report_id)+1 from report
		</selectKey>
		insert into report values
		(#{reportId},#{userId},#{reportedUserId},#{reportContent},NOW())
	</insert>

</mapper>