<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.wings.mywiki.dao.mybatis.mapper.WikiMapper">

	<resultMap id="subjectResult"
		type="com.wings.mywiki.model.SubjectVO">
		<result property="subjectId" column="subject_id" />
		<result property="subjectName" column="subject_name" />
		<result property="professor" column="professor" />
		<result property="year" column="subject_year" />
		<result property="semester" column="semester" />
	</resultMap>

	<resultMap id="classificationResult"
		type="com.wings.mywiki.model.ClassificationVO">
		<result property="classificationId" column="classification_id" />
		<result property="title" column="title" />
		<result property="text" column="text" />
		<result property="groupId" column="group_id" />
		<result property="userId" column="user_id" />
		<result property="wikiId" column="wiki_id" />
	</resultMap>

	<resultMap id="wikiResult"
		type="com.wings.mywiki.model.WikiVO">
		<result property="wikiId" column="wiki_id" />
		<result property="updateDate" column="update_date" />
		<result property="subjectId" column="subject_id" />
	</resultMap>

	<!-- 위키 내용 가져 옴 -->
	<select id="getWiki" parameterType="int" resultMap="wikiResult">
		select * from
		wiki where subject_id=#{subjectId}
	</select>
	
	<!-- 위키 내용 가져 옴 -->
	<select id="getWikiByWikiId" parameterType="int" resultMap="wikiResult">
		select * from
		wiki where wiki_id=#{wikiId}
	</select>

	<!-- 위키 안 분류 내용 모두 가져 옴 -->
	<select id="getClassification" parameterType="int"
		resultMap="classificationResult">
		select * from classification where wiki_id=#{wikiId}
		ORDER BY group_id ASC;
	</select>
	
	<!-- 위키 안 분류 내용 한 개 가져 옴 -->
	<select id="getOneClassification" parameterType="int"
		resultMap="classificationResult">
		select * from classification where classification_id=#{classificationId}
	</select>

	<!-- 위키 내용 수정 -->
	<update id="editWiki" parameterType="HashMap">
		update classification
		set text=#{text}
		where classification_id=#{classificationId} 
		and wiki_id=#{wikiId}
	</update>
	
	<!-- 위키 수정 시 updateDate 갱신 -->
	<!-- <update id="renewUpdateDate">
		
	</update>  -->
	
	<!-- 과목 정보 가져 옴 -->
	<select id="getSubject" resultMap="subjectResult">
		select * from subjects
		where subject_id=#{subjectId}
	</select>
	
	<!-- 위키 목록에 classification 추가 -->
	<insert id="addClassification" parameterType="HashMap">
		<selectKey resultType="integer" keyProperty="classificationId" order="BEFORE">
			select MAX(classification_id)+1 from classification
		</selectKey>
		insert into classification values
		(#{classificationId},#{title},#{text},#{groupId},#{userId},#{wikiId})
	</insert>
	
	<!-- classification안에 있는 group_id들을 다 가져 옴 -->
	<select id="getAllGroupId" resultType="String">
		select DISTINCT group_id from classification
	</select>

</mapper> 